body{
    background-image: url();
    background-size: 90vw 100vh;
}

.caixa_cadastro{
background-color: blanchedalmond;
margin: 20%;
margin-top: 20vh;
padding: 3%;
animation-name: teste;
animation-duration: 1s;
}
@keyframes teste{
    from{
        opacity: 0;
        transform: scale(0.95);  
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}


.caixa_cadastro img{
    margin-left: 45%;
    width: 75px;
    height: 100px;
}

.caixa_cadastro input{
    background-color: transparent;
    margin-left: 10%;
    width: 40vw;
    padding: 3%;
    border: transparent;
    outline: none;
    border-bottom: black 1px solid;
}

.caixa_cadastro button{
    margin-left: 18vw;
    margin-top: 3vh;
    width: 15vw;
    outline: none;
    border: transparent;
    border-radius: 5px;
}

.caixa_cadastro button:hover{
    transform: scale(1.3);
    transition: .2 ease-in-out;
    background-color: rgba(0, 128, 0, 0.473);
}